extends base.pug

block content
    form(action="/submit-form")
        input(type="text", name="resource", placeholder="resource")
        input(type="submit", name="Submit")
        br
        br
        p=response